body{
    background: #101010;
}


.preloader {
    width:100px;
    height:100px;
    display:inline-block;
    padding:0px;
    text-align:left;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
}
.preloader span {
    vertical-align:top;
    border-radius:100%;
    background:#c0a062;
    display:inline-block;
    width:8px;
    height:8px;
    margin-top:-20px;
    -webkit-animation: preloader9 0.8s ease-in-out infinite alternate;
    animation: preloader9 0.8s ease-in-out infinite alternate;
    transform-origin:center 20px;
    -webkit-transform-origin:center 20px;
}
@keyframes preloader {
    from {transform: rotate(120deg);}
    to {transform: rotate(240deg);}
}
@-webkit-keyframes preloader {
    from {-webkit-transform: rotate(120deg);}
    to {-webkit-transform: rotate(240deg);}
}